[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
{{ cookiecutter.repo_name}} = {editable = true, path = "."}
scikit-learn = ">=1.0"
pandasgui = "*"
mlflow = "*"

[dev-packages]
isort = "*"
pytest = "*"
flake8 = "*"
yapf = "*"
autoflake = "*"
doit = "*"

[requires]
python_version = "3.7"
